[Unit]
Description=Clean up modules from old kernels

[Service]
Type=oneshot
ExecStart=/usr/bin/cleanup-old-modules.sh %v

[Install]
WantedBy=multi-user.target
